# Collecte des données

* Démographiques

https://hub.worldpop.org/project/categories?id=3

https://population.un.org/wpp/downloads?folder=Standard%20Projections&group=Most%20used

https://dhsprogram.com/data/available-datasets.cfm

* Économiques

https://data.imf.org/en/Datasets#t=coveo117bcfc4&sort=%40idata_publication_date%20descending

https://www.oecd.org/en/data.html

https://unctadstat.unctad.org/EN/

* Sociales

https://www.who.int/data/gho

https://hdr.undp.org/data-center

https://genderdata.worldbank.org/en/home

In [26]:
import pandas as pd
import re

## Données démographiques et sanitaires

In [27]:
dem = pd.read_excel("./WPP2024_GEN_F01_DEMOGRAPHIC_INDICATORS_COMPACT.xlsx", 
                    sheet_name="Estimates", skiprows=16, index_col="Index")

Extraire les données du BENIN

In [28]:
def get_one_value_var(database):
    entete = database.columns
    one_val_var = []
    for col in entete:
        if len(database[col].value_counts()) == 1 or database[col].isna().sum() == len(database):
            one_val_var.append(col)
    return one_val_var

def extract_region_data(dataset, region: str):
    extrated_df = dataset[dataset['Region, subregion, country or area *'] == region]
    extrated_df = extrated_df.drop(get_one_value_var(extrated_df), axis = 1)
    return extrated_df

In [29]:
benin_data = extract_region_data(dem, "Benin")

Véririfer qu'il n'y a pas de données manquantes

In [30]:
benin_data.isna().sum().sort_values(ascending=False)

Year                                                                                              0
Total Population, as of 1 January (thousands)                                                     0
Total Population, as of 1 July (thousands)                                                        0
Male Population, as of 1 July (thousands)                                                         0
Female Population, as of 1 July (thousands)                                                       0
Population Density, as of 1 July (persons per square km)                                          0
Population Sex Ratio, as of 1 July (males per 100 females)                                        0
Median Age, as of 1 July (years)                                                                  0
Natural Change, Births minus Deaths (thousands)                                                   0
Rate of Natural Change (per 1,000 population)                                                     0
Population Change (thousands)                                                                     0
Population Growth Rate (percentage)                                                               0
Population Annual Doubling Time (years)                                                           0
Births (thousands)                                                                                0
Births by women aged 15 to 19 (thousands)                                                         0
Crude Birth Rate (births per 1,000 population)                                                    0
Total Fertility Rate (live births per woman)                                                      0
Net Reproduction Rate (surviving daughters per woman)                                             0
Mean Age Childbearing (years)                                                                     0
Sex Ratio at Birth (males per 100 female births)                                                  0
Total Deaths (thousands)                                                                          0
Male Deaths (thousands)                                                                           0
Female Deaths (thousands)                                                                         0
Crude Death Rate (deaths per 1,000 population)                                                    0
Life Expectancy at Birth, both sexes (years)                                                      0
Male Life Expectancy at Birth (years)                                                             0
Female Life Expectancy at Birth (years)                                                           0
Life Expectancy at Age 15, both sexes (years)                                                     0
Male Life Expectancy at Age 15 (years)                                                            0
Female Life Expectancy at Age 15 (years)                                                          0
Life Expectancy at Age 65, both sexes (years)                                                     0
Male Life Expectancy at Age 65 (years)                                                            0
Female Life Expectancy at Age 65 (years)                                                          0
Life Expectancy at Age 80, both sexes (years)                                                     0
Male Life Expectancy at Age 80 (years)                                                            0
Female Life Expectancy at Age 80 (years)                                                          0
Infant Deaths, under age 1 (thousands)                                                            0
Infant Mortality Rate (infant deaths per 1,000 live births)                                       0
Live Births Surviving to Age 1 (thousands)                                                        0
Under-Five Deaths, under age 5 (thousands)                                                        0
Under-Five Mortality (deaths under age 5 per 1,000 live births)                                   0
Mortality before Age 40, both sexes (deaths under age 40 per 1,000 live births)                   0
Male Mortality before Age 40 (deaths under age 40 per 1,000 male live births)                     0
Female Mortality before Age 40 (deaths under age 40 per 1,000 female live births)                 0
Mortality before Age 60, both sexes (deaths under age 60 per 1,000 live births)                   0
Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)                     0
Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)                 0
Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)       0
Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)        0
Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)    0
Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)       0
Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)        0
Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)    0
Net Number of Migrants (thousands)                                                                0
Net Migration Rate (per 1,000 population)                                                         0
dtype: int64

In [31]:
benin_data.sample(5)

,Year,"Total Population, as of 1 January (thousands)","Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)","Population Density, as of 1 July (persons per square km)","Population Sex Ratio, as of 1 July (males per 100 females)","Median Age, as of 1 July (years)","Natural Change, Births minus Deaths (thousands)","Rate of Natural Change (per 1,000 population)",...,"Male Mortality before Age 60 (deaths under age 60 per 1,000 male live births)","Female Mortality before Age 60 (deaths under age 60 per 1,000 female live births)","Mortality between Age 15 and 50, both sexes (deaths under age 50 per 1,000 alive at age 15)","Male Mortality between Age 15 and 50 (deaths under age 50 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 50 (deaths under age 50 per 1,000 females alive at age 15)","Mortality between Age 15 and 60, both sexes (deaths under age 60 per 1,000 alive at age 15)","Male Mortality between Age 15 and 60 (deaths under age 60 per 1,000 males alive at age 15)","Female Mortality between Age 15 and 60 (deaths under age 60 per 1,000 females alive at age 15)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)"
Index,,,,,,,,,,,,,,,,,,,,,
5993,2018.0,12211.524,12383.347,6197.56,6185.787,109.82,100.19,17.246,340.27,27.478,...,375.917,341.225,170.354,178.674,162.02,271.837,287.678,256.343,3.372,0.272
5929,1954.0,2316.926,2328.782,1095.56,1233.222,20.653,88.837,21.501,28.32,12.16,...,696.956,633.562,312.22,338.858,287.432,450.108,490.058,413.258,-4.602,-1.976
5973,1998.0,6684.293,6789.489,3348.412,3441.077,60.212,97.307,15.875,208.342,30.686,...,432.12,367.386,173.302,193.714,153.26,274.977,307.564,244.921,2.051,0.302
5963,1988.0,4891.48,4967.341,2427.113,2540.227,44.052,95.547,15.802,153.578,30.918,...,509.111,406.699,199.909,237.669,163.949,309.238,364.037,258.736,-1.867,-0.376
5935,1960.0,2497.371,2517.286,1192.304,1324.982,22.324,89.986,19.771,44.562,17.703,...,672.571,605.678,297.863,325.599,272.626,433.185,473.965,395.121,-4.722,-1.876

In [32]:
selected_cols = ['Year', 'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)','Births (thousands)',
       'Total Deaths (thousands)', 
       'Life Expectancy at Birth, both sexes (years)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)']

## Données démographique par âge

In [33]:
dem_age = pd.read_excel("./WPP_POP_5-YEAR_AGE_GROUPS.xlsx", sheet_name="Estimates", skiprows=16, index_col="Index")

In [34]:
benin_age = extract_region_data(dem_age, "Benin")

In [35]:
benin_age.tail()

,Year,0-4,5-9,10-14,15-19,20-24,25-29,30-34,35-39,40-44,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
Index,,,,,,,,,,,,,,,,,,,,,
5994,2019.0,2092.3305,1807.271,1557.247,1327.1545,1151.6015,980.569,832.724,693.7485,553.619,...,294.6915,217.8055,156.9945,111.1135,68.977,33.205,12.255,3.018,0.439,0.035
5995,2020.0,2116.112,1859.698,1599.0325,1365.8045,1177.034,1013.8375,856.8085,718.8575,574.4505,...,306.682,226.844,162.393,113.1305,71.357,34.4405,12.509,3.032,0.433,0.0335
5996,2021.0,2135.8595,1910.8,1640.477,1408.263,1206.1245,1043.758,881.233,742.482,597.6365,...,317.9935,236.4485,168.0235,115.467,73.373,35.6995,12.699,3.005,0.414,0.0305
5997,2022.0,2154.968,1957.322,1683.2985,1453.222,1236.6395,1073.106,905.375,765.456,622.3625,...,328.8635,246.8635,174.3795,118.432,75.0465,37.0095,13.0405,3.0435,0.4085,0.029
5998,2023.0,2176.4425,1996.616,1730.4715,1496.5645,1269.0645,1102.765,929.7095,788.971,647.879,...,339.823,257.763,181.4615,121.8785,76.7765,38.473,13.547,3.148,0.418,0.0295

## Données Finances

In [36]:
benin_finance = pd.read_csv('./INTEGRATION_IMF.STA_ANEA_BENIN.csv')

In [37]:
benin_finance.head()

,COUNTRY,INDICATOR,PRICE_TYPE,TYPE_OF_TRANSFORMATION,FREQUENCY,TIME_PERIOD,OBS_VALUE,SCALE
0,Benin,Exports of goods,Constant prices,Domestic currency,Annual,1999.0,6.090000e+11,NaN
1,Benin,Exports of goods,Constant prices,Domestic currency,Annual,2000.0,5.800000e+11,NaN
2,Benin,Exports of goods,Constant prices,Domestic currency,Annual,2001.0,6.070000e+11,NaN
3,Benin,Exports of goods,Constant prices,Domestic currency,Annual,2002.0,6.850000e+11,NaN
4,Benin,Exports of goods,Constant prices,Domestic currency,Annual,2003.0,7.080000e+11,NaN

In [38]:
benin_finance = benin_finance[(benin_finance["COUNTRY"] == "Benin")]

In [39]:
benin_gdp = benin_finance[(benin_finance['INDICATOR'] == "Gross domestic product (GDP)") &
                          (benin_finance["TYPE_OF_TRANSFORMATION"] == "Domestic currency") &
                          (benin_finance["PRICE_TYPE"] == "Constant prices")][["TIME_PERIOD",
                                                                               "OBS_VALUE"]]

In [40]:
# benin_gdp.rename(columns={"TIME_PERIOD": "Year", "OBS_VALUE": "GDP"})
benin_gdp.columns = ["Year", "GDP_ConstantPrice"]
benin_gdp["Year"] = benin_gdp["Year"].astype(int)
benin_gdp = benin_gdp.dropna()
benin_gdp.dtypes

Year                   int64
GDP_ConstantPrice    float64
dtype: object

## Fusion des trois tables de données

In [41]:
print(benin_data.shape)
print(benin_age.shape)
print(benin_gdp.shape)

(74, 55)
(74, 22)
(43, 2)

Fusion en utilisant l'année

In [42]:
benin_df = benin_data[selected_cols].merge(benin_gdp,
                                           how="inner", on="Year").merge(benin_age, 
                                                                         how="inner", 
                                                                         on="Year")
# benin_df.reset_index(drop=True)
benin_df.head()

,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",GDP_ConstantPrice,...,55-59,60-64,65-69,70-74,75-79,80-84,85-89,90-94,95-99,100+
0,1962.0,2604.659,1236.778,1367.88,122.713,71.049,39.643,-4.844,-1.86,9.910000e+11,...,90.1305,76.8475,61.0445,42.9375,26.3465,13.3635,5.447,1.1555,0.061,0
1,1963.0,2652.908,1261.327,1391.581,125.726,71.212,40.081,-4.847,-1.827,1.110000e+12,...,90.476,77.0095,61.399,43.262,26.23,13.137,5.138,1.2165,0.07,0
2,1964.0,2704.003,1287.274,1416.729,128.765,71.412,40.502,-4.839,-1.79,1.190000e+12,...,90.748,77.2175,61.7405,43.626,26.222,12.9765,4.896,1.2305,0.08,0.0005
3,1965.0,2757.936,1314.605,1443.331,131.635,71.482,40.971,-4.793,-1.738,1.250000e+12,...,90.93,77.481,62.072,44.001,26.3165,12.869,4.731,1.205,0.0925,0.001
4,1966.0,2814.317,1343.249,1471.068,134.106,71.937,41.274,-4.764,-1.693,1.300000e+12,...,91.02,77.7915,62.3705,44.3805,26.4865,12.805,4.615,1.159,0.105,0.0005

In [43]:
benin_df.shape

(43, 31)

In [44]:
benin_df.columns[10:]

Index(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74', '75-79',
       '80-84', '85-89', '90-94', '95-99', '100+'],
      dtype='object')

In [ ]:
# benin_df['ID'] = benin_df.index

# benin_df = benin_df[[benin_df.columns[-1]] + list(benin_df.columns[:-1])]

Exporter les données en parquet ou Excel

In [45]:
benin_df["Population 0-14"] = benin_df[benin_df.columns[10:13]].sum(axis=1)
benin_df["Population 15-59"] = benin_df[benin_df.columns[13:22]].sum(axis=1)
benin_df["Population 60+"] = benin_df[benin_df.columns[22:31]].sum(axis=1)

benin_df = benin_df.drop(benin_df.columns[10:31], axis=1)

In [47]:
benin_df.sample(5)

,Year,"Total Population, as of 1 July (thousands)","Male Population, as of 1 July (thousands)","Female Population, as of 1 July (thousands)",Births (thousands),Total Deaths (thousands),"Life Expectancy at Birth, both sexes (years)",Net Number of Migrants (thousands),"Net Migration Rate (per 1,000 population)",GDP_ConstantPrice,Population 0-14,Population 15-59,Population 60+
7,1969.0,2998.222,1436.795,1561.428,142.357,72.199,42.591,-4.792,-1.598,1.390000e+12,1284.1385,1480.6445,233.4395
5,1967.0,2872.997,1373.149,1499.848,136.584,71.878,41.759,-4.756,-1.655,1.320000e+12,1208.4505,1433.7285,230.818
39,2020.0,13070.169,6546.526,6523.643,461.781,119.849,60.154,1.729,0.132,8.710000e+12,5574.8425,6871.154,624.1725
26,2007.0,8953.969,4447.216,4506.753,366.762,95.458,58.249,0.241,0.027,4.910000e+12,3973.0095,4555.017,425.9425
19,2000.0,7221.619,3567.832,3653.787,303.881,85.863,56.594,3.335,0.462,3.680000e+12,3281.3865,3591.827,348.4055

In [48]:
benin_df.columns

Index(['Year', 'Total Population, as of 1 July (thousands)',
       'Male Population, as of 1 July (thousands)',
       'Female Population, as of 1 July (thousands)', 'Births (thousands)',
       'Total Deaths (thousands)',
       'Life Expectancy at Birth, both sexes (years)',
       'Net Number of Migrants (thousands)',
       'Net Migration Rate (per 1,000 population)', 'GDP_ConstantPrice',
       'Population 0-14', 'Population 15-59', 'Population 60+'],
      dtype='object')

In [49]:
benin_df = benin_df.rename(columns={'Year': 'Année', 
                         'Total Population, as of 1 July (thousands)': 'Population 1er Juin',
                         'Male Population, as of 1 July (thousands)': 'Population Masculine 1er Juin',
                         'Female Population, as of 1 July (thousands)': 'Population Féminine 1er Juin', 
                         'Births (thousands)': 'Naissances', 'Total Deaths (thousands)': 'Décès',
                         'Life Expectancy at Birth, both sexes (years)': 'Espérance de vie à la naissance',
                         'Net Number of Migrants (thousands)': 'Solde migratoire',
                         'Net Migration Rate (per 1,000 population)': 'Taux de migration net',
                         'GDP_ConstantPrice': "PIB_prix_constant"})

In [50]:
benin_df.to_excel("Donnees_ben_pop.xlsx", index=False)

Les 5 premieres lignes

In [51]:
benin_df[:5].to_parquet("Donnees_ben_pop.parquet", engine="pyarrow")

In [53]:
len(benin_df.columns)

13

Glossaire des variables

In [54]:
glossaire = pd.DataFrame({
    'nom': benin_df.columns,

    'définitions': ["L'année de la donnée", "Effectif de la population au 1er juin",
                    "Effectif des Hommes au 1er juin", "Effectif des Femmes au 1er juin", 
                    "Naissances total", "Décès total", "Expérience de vie à la naissances",
                    "Solde migratoire", "Taux migratoire net", "Produit Intérieur Brut au prix constant",
                    "Population 0 - 14 ans", "Population 15 - 59 ans", "Population 60+"],

    'unité': ["nombre d'année", "1000 habitants", "1000 habitants", "1000 habitants",
              "1000 naissances", "1000 décès", "nombre d'années", "1000 personnes", "1000 habitants",
              "FCFA", "habitant", "habitant", "habitant" ],

     'source' : ["https://population.un.org/wpp/downloads?folder=Standard%20Projections&group=Most%20used"]*9+
     ["https://unctadstat.unctad.org/EN/"]+
     ["https://population.un.org/wpp/downloads?folder=Standard%20Projections&group=Most%20used"]*3,
     
     'periode': [str(int(min(benin_df['Année']))) + ' - ' + str(int(max(benin_df['Année'])))]*13,
     
     'géographie': ["Benin"]*13})

In [55]:
glossaire.to_excel('Glossaire_des_variables.xlsx', index=False)